@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');
    
.FilmCard
    display: flex
    border-radius: 12px
    border: 1px solid grey
    width: 30%
    min-width: 250px
    overflow: hidden 
    margin: 1em
    
    h1 
       padding: 10px
       font-family: 'Source Sans Pro', sans-serif;

    img
        width: 100%