    
.FilmCard
    position: relative
    display: flex
    border-radius: 12px
    border: 1px solid grey
    width: 30%
    min-width: 250px
    overflow: hidden 
    margin: 1em
    flex-grow: 1
    flex-shrink: 0
    flex-basis: auto
    
    h1 
       padding: 10px
       font-family: 'Source Sans Pro', sans-serif;

    img
        width: 100%

    .FilmCard__Tag
        display: flex
        align-items: center
        justify-content: center
        border: #ffe855
        position: absolute
        top: 10px
        right: 10px
        color: #ffe855
        font-family: "Source Pro", sans-serif
        border: 1px solid #ffe855
        padding: .3em
        border-radius: 5px
        background-color: #ffe85560
        svg
            fill: #ffe855
            margin-right: 12px


