.FilmModal
    overflow-y: scroll
    
.FilmModal__Header
    width: 100%
    height: 300px
    background: yellow
    background-size: cover
    background-position: center center 
    display: flex
    justify-content: center
    align-items: center
    font-family: "Source Pro", sans-serif

.FilmModal__Crew
    display: flex
    flex-direction: row
    flex-wrap: wrap