.App
    
    display: flex
    flex-direction: column
    background-color: #971352
    align-items: center
    justify-content: center
    min-width: 100vw
    min-height: 100vh

    color: white
    font-size: 3em
    font-family: sans-serif

    h1
        font-size: 1em
        margin: .5em
